@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-brand-blue: #001f3f;
  --color-brand-pink: #ff007f;
  --color-brand-slate: #475569;
}

@layer base {
  body {
    @apply font-sans bg-white text-slate-900;
  }
}
